body {
    background-color: white;
    text-align: center;
    color: black
}


.cards {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.portafolio {
    text-align: center;
}

footer{
    text-align: center;
}

.Linkportafolio{
    font-size: 30px;
    padding-bottom: 20px;
}