body {
    background-color: white;
    text-align: center;
    color: black
}
p {
    text-align: center;
    font-size: large;
    padding-left: 30px;
    padding-right: 30px;
    margin: 30px;
}

.row { 
    display: flex;
    text-align: left;
}

.portafolio {
    text-align: center;
}

footer{
    text-align: center;
}
footer p {
    margin: 0%;
}

.Linkportafolio{
    font-size: 20px;
    padding-bottom: 10px;
    color: black;
}